<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TapeTrove"
        tools:targetApi="31">
        <activity
            android:name=".BerhasilActivity"
            android:exported="false" />
        <activity
            android:name=".ProsesActivity"
            android:exported="false" />
        <activity
            android:name=".BriActivity"
            android:exported="false" />
        <activity
            android:name=".BcaActivity"
            android:exported="false" />
        <activity
            android:name=".MandiriActivity"
            android:exported="false" />
        <activity
            android:name=".TransferActivity"
            android:exported="false" />
        <activity
            android:name=".QrisActivity"
            android:exported="false" />
        <activity
            android:name=".PembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".KomentarActivity"
            android:exported="false" />
        <activity
            android:name=".RatingActivity"
            android:exported="false" />
        <activity
            android:name=".BagikanActivity"
            android:exported="false" />
        <activity
            android:name=".WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".PeminjamanActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>